{% extends "base.html" %}{% load static %}

{% block html_main %}
    {% include "breadcrumb.html" %}
    <div class="shadow card border-dark mb-3">
        <div class="card-header">
            <h4>{{ title }}:</h4>
        </div>
        <form method='post' action='' class="mb-0">
            {% csrf_token %}
            <div class="card-body">
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <h6>{{ form_profile.last_name.label }}:</h6>
                        {{ form_profile.last_name }}
                    </div>
                    <div class="col-md">
                        <h6>{{ form_profile.first_name.label }}:</h6>
                        {{ form_profile.first_name }}
                    </div>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <h6>{{ form_profile.username.label }}:</h6>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                            <input class="form-control" type="text" value="{{ form_profile.username.value }}" disabled readonly>
                        </div>
                    </div>
                    <div class="col-md">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}