{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block html_title %}{{ title }}{% endblock %}</title>
<!--    <link rel='shortcut icon' type='image/png' href='{% static "img/favicon.ico" %}'>-->
<!--    <script src='{% static "js/jquery-3.4.1.min.js" %}'></script>-->
<!--    <script src='{% static "js/bs/bootstrap.min.js" %}'></script>-->
    <script src='{% static "bs/js/bootstrap.bundle.min.js" %}'></script>
<!--    <script src='{% static "fa/js/all.js" %}'></script>-->
    <link rel='stylesheet' href='{% static "bs/css/bootstrap.min.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "main/css/main.css" %}' type='text/css' />
    {% block html_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="container">
            <div class="nav col-md-3 mb-2 mb-md-0">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <div class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-outline-danger" disabled>Расписание: </button>
                    <a href="#" type="button" class="btn btn-outline-danger active">Студентов</a>
                    <a href="#" type="button" class="btn btn-outline-danger">Преподавателей</a>
                    <a href="#" type="button" class="btn btn-outline-danger">Аудиторий</a>
                </div>
            </div>
            <div class="col-md-3 text-end">
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ☰
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><span class="dropdown-item fw-bold">{{ current_profile }}</span></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'profile_list' %}">Пользователи</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            {% block html_main %}{% endblock %}
        </div>
    </main>
</body>
</html>
