    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item">
                <i class="fa-solid fa-house"></i>
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'index' %}">Главная</a>
            </li>
            {% if not request.get_full_path == '/' %}
                {% for breadcrumb in list_breadcrumb %}
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ breadcrumb.0 }}">{{ breadcrumb.1 }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ title }}
                </li>
            {% endif %}
        </ol>
    </nav>
