{% extends "base.html" %}{% load static %}

{% block html_body %}
    <div class="card-columns">
        {% if count_signature %}
            <div class="card shadow border-dark">
                <div class="card-header">
                    <h4>Учет электронных подписей:</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% for status, count in count_signature %}
                            {% if status.0 == 0 %}
                                <li class="border-bottom border-grey {% if not count_expires_signature == 0 %}list-group-item-danger{% endif %}">
                                    {{ status.1 }} (истекают) <span class="float-right">{{ count }} ({{ count_expires_signature }})</span>
                                </li>
                            {% else %}
                                <li class="border-bottom border-grey">
                                    {{ status.1 }} <span class="float-right">{{ count }} </span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'signature_list' %}" class="btn btn-outline-primary" title="Перейти к подписям"><i class="fas fa-file-contract"></i> Перейти к подписям</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}