{% extends "base.html" %}{% load static %}

{% block html_head %}<link rel='stylesheet' href='{% static "main/css/sign-in.css" %}' type='text/css' />{% endblock %}
{% block html_main %}
    {% if request.user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url={% url 'index' %}">
    {% else %}
        <form class="form-signin w-100 m-auto" method="post" action="./">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <h1 class="h3 mb-3 fw-normal text-center">Пожалуйста войдите:</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Логин" required>
                <label for="id_username">Логин</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Пароль" required>
                <label for="id_password">Пароль</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            {% include "messages.html" %}
            <p class="mt-5 mb-3 text-muted text-center">© Омский филиал РАНХиГС</p>
        </form>
    {% endif %}
{% endblock %}